<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Tjänster</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
        </div>
        <h3 class="fs-2">Bokföring</h3>
        <ul>
            <li>Löpande redovisning</li>
            <li>Bokslut</li>
            <li>Årsavslut, årsredovisning</li>
            <li>Moms,skattedeklaration</li>
            <li>Inkomstdeklaration</li>
            <i>årligen för både dig och ditt företag</i>
            <li>Hjälp med K10</li>
        </ul>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h3 class="fs-2">Fakturering</h3>
        <ul>
            <li>Kundfakturering</li>
            <i>inbetalningar, påminnelse, inkasso Rot/Ruthantering</i>
            <li>Betalningsuppdrag</li>
            <i>ankomstregistrering, attest, betalningar, reglering av leverantörsbetalningar</i>
        </ul>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <h3 class="fs-2">Övrigt</h3>
        <ul>
            <li>Löneadministration</li>
            <li>Statistik</li>
            <i>till FORA, Collectum m.fl.</i>
            <li>Kontakter</li>
            <i>med exempelvis banker, Skatteverk och andra myndigheter.</i>
        </ul>
      </div>
    </div>
  </div>