<div>
  <nav class="navbar bg-light px-2 text-sm">
    <a class="navbar-brand" href="#">Ärla-kvarntorp STAVBERG, 63537 ÄRLA</a>
    <a class="navbar-brand" href="#">073-515 20 87</a>
    <a class="navbar-brand" href="#">sb.redovisning@mail.com</a>
  </nav>
</div>

<div class="">
  <nav class="navbar bg-light px-2">
    <a routerLink="/home" class="navbar-brand">Brand</a>
    <a routerLink="/services" class="nav-link">Tjänster</a>
    <a routerLink="/about" class="nav-link">Om oss</a>
    <a routerLink="/contact" class="nav-link">Kontakt</a>
  </nav>
  <router-outlet></router-outlet>
</div>
